/* TOP PAGE HEADER */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #4B90CD;
}

.page-header {  
  background-color: #002D62;
  width: 100%;
  height: 130px;
}

ul {
  list-style: none;
  padding: 20px;
}

li {
  display: inline;
  font-size: 120%;
  color: #B7B7B4;
  margin: 6px;
  padding-right: 10px;
}

.header-top {
  display: flex;
  justify-content: flex-end;
}

.user-login {
  display: inline;
  margin: 10px 20px;
  font-size: 85%;
  color: #B7B7B4;
}

.icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin: 0px 2px;
}

li .icon {
  margin: 0px 8px;
}

.header-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.head-img {
  height: 70px;
  width: 140px;
  margin: 20px 24px;
  border: 1px solid #1C5774;
}

/* MAIN ARTICLE BOX */ 

main {
  padding: 8px;
  max-width: 1340px;
  width: 100%;
  margin: auto;
}

h1 {
  margin: 0;
  line-height: 100px;
  text-indent: 8px;
  color: #3A3A37;
  font-family: Noto sans, sans-serif
}

.article-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-box {
  display: inline-block;
  border: transparent;
  /*box-shadow: 2px 2px 2px grey;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 0 1% 1% 0;
    background-color: #F4F4EC;
    width: 24%;
  height: 400px;
}

/* BOX CONTENT */

.box-header {
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.link-img {
  width: 45px;
  height: 45px;
  margin: 10px;
}

h3 { 
  font-size: 60%;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.view-count {
  text-align: center;
  margin-right: 10px;
}

.content-box span {
  font-size: 180%;
  line-height: 10px;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-content: space-between; 
}

h2 {
  margin: 16px 0px 3px 16px;
  font-size: 98%;
  color: #535556;
}

p {
  font-size: 70%;
  line-height: 10px;
  margin: 0px 16px;
  color: #535556;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.text-box a {  
  font-size: 65%;
  line-height: 18px;
  color: #535556;
}

a:hover {
  color: #BEBD30;
  cursor: pointer;
}

.link-box {
  margin: 16px;
  background-color: #DBDEE0;
  padding: 5px;
  line-height: 12px;
}

h4 {
  font-size: 70%;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0px 0px 16px;
  color: #535556;
}

.nickname h2 {
  margin-top: 2px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #535556;
}

.number span {
  color: #BEBD30;
  margin: 14px 16px;
  display: block;
}

.white {
  color: #F4F4EC;
}
 
.player-one {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)), 
  url('images/jokic.jpg');
}

.player-two {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)),
  url('images/murray.jpg');
}

.player-three {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)),
  url('images/harris.jpg');
}

.player-four {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)),
  url('images/millsap.jpg');
}

.player-five {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)),
  url('images/barton.jpg');
}

.player-six {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)),
  url('images/hernangomez.png');
}

.player-seven {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)),
  url('images/lyles.jpg');
}

.player-eight {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)),
  url('images/morris.jpg');
}

@media screen and (max-width: 850px) {
  .content-box {
    width: 48%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    text-align: center;
  }
  li {
    font-size: 100%;
    display: block;
  }
}

@media screen and (max-width: 470px) {
  .content-box {
    width: 98%;
    margin-bottom: 2%;
  }
  h1 {
    font-size: 28px;
  }
  .box-header {
    background-position: center-bottom;
  }
}